@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none !important;
	outline: none !important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	overflow-x: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
	font-style: normal;
	color: #072a40;
}

h1 {
	font-family: 'Krona One', sans-serif;
	font-size: 28px;
	line-height: 50px;
	font-weight: 400;
	font-style: normal;
}
h2 {
	font-family: 'Krona One', sans-serif;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	font-style: normal;
}
h3 {
	font-family: 'Krona One', sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	font-style: normal;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	font-style: normal;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	font-style: normal;
	color: #072a40;
	margin-bottom: 20px;
}
p:last-child {
	margin-bottom: 0px;
}

b,
strong,
.font-bold {
	font-weight: 700 !important;
}
i,
em,
.font-italic {
	font-style: italic !important;
}
img {
	display: block;
	width: 100%;
}
a,
a:focus {
	color: #072a40;
	text-decoration: underline;
}
a:hover {
	font-weight: 700;
}

/* Buttons */
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	min-width: 120px;
	min-height: 45px;
	padding: 10px 20px 10px 20px;
	border: 0;
	margin: 0;
	cursor: pointer;
	outline: none;
	border-radius: 20px;
	font-family: 'Krona One', sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	text-decoration: none !important;
	transition: 0.2s all ease-in-out;
}
.button.button-primary {
	color: #ffe414;
	border-color: #072a40;
	background-color: #072a40;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.button.button-primary:hover,
.button.button-primary:focus {
	color: #ffe414;
	border-color: #072a40;
	background-color: #072a40;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

/* Container Wrapper */
#container-wrapper {
	position: relative;
}
.main-fluid {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
.limit-wrapper {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.text-danger {
	color: #eb3e3e;
}
.is-invalid {
	border: 2px solid #eb3e3e !important;
}

/* Header */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
	transition: all 0.2s ease-in-out;
}
header * {
	transition: all 0.2s ease-in-out;
}
header .row-fluid {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}
header .row-fluid .column-left .block-logo a {
	display: flex;
	align-items: center;
}
header .row-fluid .column-middle .block-main-menu ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
header .row-fluid .column-middle .block-main-menu ul li {
	padding: 5px 60px;
}
header .row-fluid .column-middle .block-main-menu ul li a {
	font-family: 'Krona One', sans-serif;
	font-size: 12px;
	line-height: 32px;
	font-weight: 400;
	font-style: normal;
	color: #687780;
	text-decoration: none;
}
header .row-fluid .column-middle .block-main-menu ul li a:hover,
header .row-fluid .column-middle .block-main-menu ul li a.active {
	color: #072a40;
	text-decoration: none;
}
header .row-fluid .column-right {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
header .row-fluid .column-right ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
}
header .row-fluid .column-right .block-languages ul li a{
	font-family: 'Krona One', sans-serif;
	font-size: 12px;
	line-height: 32px;
	font-weight: 400;
	font-style: normal;
	color: #687780;
	text-decoration: none;
	margin-left: 5px;
}
header .row-fluid .column-right .block-languages ul li a.active {
	color: #072a40;
}
header .row-fluid .column-right .block-social-media {
	margin-left: 20px;
}
header .row-fluid .column-right .block-social-media ul,
header .row-fluid .column-middle .block-social-mobile ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
}
header .row-fluid .column-right .block-social-media ul li,
header .row-fluid .column-middle .block-social-mobile ul li {
	margin-right: 12px;
}
header .row-fluid .column-right .block-social-media ul li:last-child,
header .row-fluid .column-middle .block-social-mobile ul li:last-child {
	margin-right: 0px;
}
header .row-fluid .column-right .block-social-media ul li a,
header .row-fluid .column-middle .block-social-mobile ul li a {
	display: flex;
	text-decoration: none;
}
header .row-fluid .column-right .block-social-media a:hover svg path,
header .row-fluid .column-middle .block-social-mobile a:hover svg path {
	fill: #072a40;
}
header .row-fluid .column-middle .block-main-menu .block-close-mobile,
header .row-fluid .column-middle .block-social-mobile,
header .row-fluid .column-right .block-menu-mobile {
	display: none;
}
header.fixed {
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.16); 
}
header.fixed .row-fluid {
	padding: 10px 0;
}

/* Form */
.form-default-wrapper {
	width: 100%;
	max-width: 445px;
	margin: 0 auto;
}
.form-default-wrapper .block-form-group {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 20px;
}
.form-default-wrapper .block-form-group .block-field {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	background-color: #fff6b0;
	border: 2px solid transparent;
	border-radius: 20px;
	padding: 11px 15px;
}
.form-default-wrapper .block-form-group .block-field.block-field-active {
	border: 2px solid #FFE414;
}
.form-default-wrapper .block-form-group .block-field-error {
	border: 2px solid #eb3e3e;
}
.form-default-wrapper .block-form-group .block-field .block-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
}
.form-default-wrapper .block-form-group .block-field .block-input {
	width: calc(100% - 25px);
	margin-left: 5px;
}
.form-default-wrapper .block-form-group .block-field-big .block-input {
	width: 100%;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	text-align: left;
	line-height: 20px;
}
.select2-container .select2-dropdown {
	background-color: #FFFDEA;
	border-radius: 4px;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	padding: 10px;
}
.select2-container .select2-dropdown .select2-search .select2-search__field {
	background-color: #FFFDEA;
	border: 1px solid #072A40;
}
.select2-container .select2-dropdown .select2-results .select2-results__option {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	font-style: normal;
	color: #687780;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #FFFAD3;
	color: #072A40!important;
}
.select2-results__options::-webkit-scrollbar {
	width: 16px;
	background-clip: padding-box;
}
.select2-results__options::-webkit-scrollbar-track {
	background-color: #FFFDEA;
	background-clip: padding-box;
	border-right: 15px solid rgba(0, 0, 0, 0);
	border-top: 15px solid rgba(0, 0, 0, 0);
	border-bottom: 15px solid rgba(0, 0, 0, 0);
}
.select2-results__options::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	background-color: #FFE414;
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-top: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
}
.form-default-wrapper .block-form-group .block-field .block-input input {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	font-style: normal;
	color: #072a40;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
}
.form-default-wrapper .block-form-group .block-field .block-input input::-webkit-input-placeholder {
	color: rgba(7, 42, 64, 0.5);
}
.form-default-wrapper .block-form-group .block-field .block-input input:-ms-input-placeholder {
	color: rgba(7, 42, 64, 0.5);
}
.form-default-wrapper .block-form-group .block-field .block-input input::placeholder {
	color: rgba(7, 42, 64, 0.5);
}
.form-default-wrapper .block-form-group .block-field .block-input .select2-container.select2-container--default {
	display: block;
	width: 100% !important;
}
.form-default-wrapper .block-form-group .block-field .block-input .select2-container.select2-container--default .select2-selection--single {
	width: 100%;
	background-color: #fff6b0;
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
	height: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #687780;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	text-align: left;
	padding-left: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 20px;
	top: 0;
}
.form-default-wrapper .block-form-group .block-field-msg {
	font-family: 'Krona One', sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-weight: 400;
	color: #f01f1f;
	margin-top: 4px;
	text-align: left;
	width: 100%;
	padding-left: 20px;
}
.form-default-wrapper .block-form-group .block-submit {
	margin-top: 25px;
}

/* Homepage */
#page-front .block-home-top {
	position: relative;
	background-color: #ffffff;
	background-image: url('../images/bg-home-top-2.png');
	background-repeat: no-repeat;
	background-position: top right;
	padding-top: 150px;
}
#page-front .block-home-top .row-fluid {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 920px;
	margin: 0 auto;
}
#page-front .block-home-top .row-fluid .column-left {
	width: 445px;
	margin-right: 30px;
}
#page-front .block-home-top .row-fluid .column-left .block-image {
	position: relative;
	z-index: 2;
}
#page-front .block-home-top .row-fluid .column-right {
	width: calc(100% - 475px);
	text-align: right;
	margin-bottom: 140px;
}
#page-front .block-home-top .row-fluid .column-right .block-title {
	margin-bottom: 30px;
}
#page-front .block-home-top .row-fluid .column-right .block-subtitle {
	margin-bottom: 55px;
}
#page-front .block-home-top .row-fluid .column-right .block-apps {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#page-front .block-home-top .row-fluid .column-right .block-apps img {
	height: 40px;
}
#page-front .block-home-top .row-fluid .column-right .block-apps a:first-child {
	margin-right: 25px;
}
#page-front .block-home-find {
	position: relative;
	background-color: #f5e673;
	padding: 155px 0 105px 0;
	margin-top: -135px;
	z-index: 1;
}
#page-front .block-home-find .block-title {
	text-align: center;
	margin-bottom: 85px;
}
#page-front .block-home-find .row-fluid {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
#page-front .block-home-find .row-fluid .column-4 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: calc(25% - 15px);
	margin-right: 30px;
	margin-bottom: 30px;
}
#page-front .block-home-find .row-fluid .column-4:last-child {
	margin-right: 0px;
}
#page-front .block-home-find .row-fluid .column-4 .block-find-icon {
	margin-bottom: 45px;
}
#page-front .block-home-find .row-fluid .column-4 .block-find-lead {
	text-align: center;
}
#page-front .block-home-find .row-fluid .column-4 .block-find-lead span {
	display: flex;
	font-family: 'Krona One', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	font-style: normal;
	color: #072a40;
}
#page-front .block-home-partner {
	position: relative;
	background-color: #ffffff;
	background-image: url('../images/bg-home-top.png');
	background-repeat: no-repeat;
	background-position: top right;
}
#page-front .block-home-partner .row-fluid {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 70px;
}
#page-front .block-home-partner .row-fluid .column-left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 445px;
	margin-right: 30px;
}
#page-front .block-home-partner .row-fluid .column-left .block-icon {
	margin-bottom: 60px;
}
#page-front .block-home-partner .row-fluid .column-left .block-title {
	margin-bottom: 15px;
	text-align: center;
}
#page-front .block-home-partner .row-fluid .column-left .block-lead {
	margin-bottom: 90px;
	text-align: center;
}
#page-front .block-home-partner .row-fluid .column-left .block-lead span {
	font-family: 'Krona One', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	font-style: normal;
	color: #072a40;
}
#page-front .block-home-partner .row-fluid .column-right {
	width: calc(100% - 475px);
	text-align: right;
	margin-bottom: 65px;
}
#page-front .block-home-partner .row-fluid .column-right .form-default-wrapper {
	margin: 0 0 0 auto !important;
}
#page-front .block-home-team {
	position: relative;
	background-color: #fffdea;
	padding: 55px 0 55px 0;
}
#page-front .block-home-team .row-fluid {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
#page-front .block-home-team .row-fluid .column-left {
	width: 50%;
	max-width: 445px;
	text-align: left;
}
#page-front .block-home-team .row-fluid .column-left .block-form-title {
	margin-bottom: 15px;
}
#page-front .block-home-team .row-fluid .column-left .block-form-lead {
	margin-bottom: 50px;
}
#page-front .block-home-team .row-fluid .column-left .block-form-lead span {
	font-family: 'Krona One', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	font-style: normal;
	color: #f26b09;
}
#page-front .block-home-team .row-fluid .column-right {
	width: 50%;
}
#page-front .block-home-team .row-fluid .column-right .block-image {
	width: 100%;
	max-width: 540px;
	margin: 0 0 0 auto;
}

/* Login */
.block-login {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}
.block-login .login-form button {
	margin-top: 55px;
}
.block-login .block-form-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%; max-width: 350px;
}
.block-login .block-title h1 {
	text-align: center;
	margin: 50px;
}
.block-login form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-login .password-recover p {
	font-family: 'Krona One', sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	font-style: normal;
	counter-reset: #072a40;
	margin-bottom: 16px;
}
.block-login .password-recover a {
	color: #f77415;
}
.block-login .register {
	color: #f77415;
	margin-bottom: 56px;
}

/* About us */
.block-about-us .block-about-banner {
	position: relative;
	display: flex;
	width: 100%;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.block-about-us .block-about-banner .limit-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}
.block-about-us .block-about-body {
	margin: 80px 0 100px 0;
}
.block-about-us .block-about-body .block-about-body-top {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
.block-about-us .block-about-body .block-about-how-use {
	width: 100%;
	max-width: 760px;
	margin: 80px auto;
}
.block-about-us .block-about-body .block-about-how-use .block-about-how-use-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}
.block-about-us .block-about-body .block-about-how-use .block-about-how-use-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.block-about-us .block-about-body .block-about-how-use .block-about-how-use-list .block-how-use-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 160px;
}
.block-about-us .block-about-body .block-about-how-use .block-about-how-use-list .block-how-use-column .block-how-use-icon {
	margin-bottom: 35px;
}
.block-about-us .block-about-body .block-about-how-use .block-about-how-use-list .block-how-use-column .block-how-use-lead {
	text-align: center;
} 
.block-about-us .block-about-body .block-about-how-use .block-about-how-use-list .block-how-use-column .block-how-use-lead span {
	display: flex;
	font-family: 'Krona One', sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	font-style: normal;
	color: #072a40;
}
.block-about-us .block-about-body .block-about-body-bottom {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

/* Conact */
.block-contacts {
	width: 100%; max-width: 740px;
	margin: 0 auto;
}
.block-contacts .block-contacts-title {
	color: #072a40;
	margin-bottom: 50px;
	padding: 0 15px;
}
.block-contacts .block-contacts-list {
	margin-bottom: 65px;
}
.block-contacts .block-contacts-list .block-contacts-department {
	padding: 0 15px 35px 15px;
	margin-bottom: 35px;
}
.block-contacts .block-contacts-list .block-contacts-department:not(:last-child) {
	border-bottom: 1px solid #ffe414;
}
.block-contacts .block-contacts-list .block-contacts-department h3 {
	color: #072a40;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.block-contacts .block-contacts-list .block-contacts-department ul {
	list-style-type: none;
	margin: 0; padding: 0;
}
.block-contacts .block-contacts-list .block-contacts-department li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 25px;
}
.block-contacts .block-contacts-list .block-contacts-department li:last-child {
	margin-bottom: 0px;
}
.block-contacts .block-contacts-list .block-contacts-department svg {
	margin-right: 12px;
}
.block-contacts .block-contacts-list .block-contacts-department a {
	text-decoration: none;
}
.block-contacts .block-contacts-list .block-contacts-department li.block-contacts-email a {
	text-decoration: underline;
}
.block-contacts .block-contacts-list .block-contacts-department span {
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	font-style: normal;
	color: #072a40;
}

/* Conditions */
.block-conditions {
	width: 100%; max-width: 740px;
	margin: 0 auto;
}
.block-conditions .block-conditions-title {
	color: #072a40;
	margin-bottom: 50px;
	padding: 0 15px;
}
.block-conditions .block-conditions-body {
	margin-bottom: 65px;
}
.block-conditions .block-conditions-body > div {
	padding: 0 15px 35px 15px;
	margin-bottom: 35px;
}
.block-conditions .block-conditions-body > div:not(:last-child) {
	border-bottom: 1px solid #ffe414;
}
.block-conditions .block-conditions-body > div h3 {
	color: #072a40;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.block-conditions .block-conditions-body > div p {
	margin-bottom: 25px;
}
.block-conditions .block-conditions-body > div p:last-child {
	margin-bottom: 0px;
}

/* FAQ's */
.block-faqs {
	width: 100%; max-width: 740px;
	margin: 0 auto;
}
.block-faqs .block-faqs-title {
	color: #072a40;
	padding: 0 25px;
	margin-bottom: 35px;
}
.block-faqs .block-faqs-list {
	padding-bottom: 100px;
}
.block-faqs .block-faqs-list .block-faqs-item .block-faqs-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    background: #FFFDEA;
    border-bottom: 1px solid #FFE414;
    padding: 0px 15px 0px 25px;
	cursor: pointer;
}
.block-faqs .block-faqs-list .block-faqs-item .block-faqs-header .block-faqs-header-title span {
	display: flex;
	font-family: 'Krona One', sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	font-style: normal;
    color: #072A40;
	text-transform: uppercase;
}
.block-faqs .block-faqs-list .block-faqs-item .block-faqs-header .block-faqs-header-icon {
	display: flex;
}
.block-faqs .block-faqs-list .block-faqs-item .block-faqs-header .block-faqs-header-icon svg {
	transition: all .2s ease-in-out;
}
.block-faqs .block-faqs-list .block-faqs-item.active .block-faqs-header .block-faqs-header-icon svg {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.block-faqs .block-faqs-list .block-faqs-item .block-faqs-body {
    display: none;
}
.block-faqs .block-faqs-list .block-faqs-item .block-faqs-body > div {
    display: flex;
	flex-direction: column;
	padding: 35px 25px;
    border-bottom: 1px solid #FFE414;
}
.block-faqs .block-faqs-list .block-faqs-item .block-faqs-body > div:last-child {
    border-bottom: 0;
}
.block-faqs .block-faqs-list .block-faqs-item .block-faqs-body > div h4 {
    margin-bottom: 25px;
}

/* Footer */
footer {
	background-color: #072a40;
}
footer .block-footer-top {
	margin-left: 0;
	padding-top: 55px;
}
footer .block-footer-middle {
	display: flex;
	padding: 30px 0 70px 0;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}
footer .block-footer-middle .column-left {
	padding-right: 40px;
}
footer .block-footer-middle .column-left a {
	text-decoration: none;
}
footer .block-footer-middle .column-left span {
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	font-style: normal;
	color: #FFFFFF;
	margin-bottom: 20px;
}
footer .block-footer-middle .column-left .block-social-media {
	margin-top: 50px;
}
footer .block-footer-middle .column-left .block-social-media ul {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
	margin: 0; padding: 0;
}
footer .block-footer-middle .column-left .block-social-media ul li {
	margin-right: 15px;
}
footer .block-footer-middle .column-middle {
	display: flex;
}
footer .block-footer-middle .column-middle ul {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	list-style: none;
	margin: 0; padding: 0;
	padding-right: 90px;
}
footer .block-footer-middle .column-middle ul:last-child {
	padding-right: 0px;
}
footer .block-footer-middle .column-middle ul li {
	display: inline-block;
	margin-bottom: 25px;
}
footer .block-footer-middle .column-middle ul li a {
	font-family: 'Krona One', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
}
footer .block-footer-middle .column-right {
	width: 100%; max-width: 350px;
	padding-left: 40px;
}
footer .block-footer-middle .column-right .block-newsletter {
	width: 100%; max-width: 350px;
}
footer .block-footer-middle .column-right .block-newsletter .block-newsletter-title {
	font-family: 'Krona One', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	font-style: normal;
	color: #FFFFFF;
	margin-bottom: 20px;
}
footer .block-footer-middle .column-right .block-newsletter form .block-newsletter-email {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3px 0px;
	border-bottom: 1px solid #FFFFFF;
}
footer .block-footer-middle .column-right .block-newsletter form .block-newsletter-email input {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: 0; box-shadow: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	font-style: normal;
	color: #FFFFFF;
	padding: 0; margin: 0;
	margin-right: 10px;
}
footer .block-footer-middle .column-right .block-newsletter form .block-newsletter-email input::-webkit-input-placeholder {
	color: #CDCED1;
}
footer .block-footer-middle .column-right .block-newsletter form .block-newsletter-email input:-ms-input-placeholder {
	color: #CDCED1;
}
footer .block-footer-middle .column-right .block-newsletter form .block-newsletter-email input::placeholder {
	color: #CDCED1;
}
footer .block-footer-middle .column-right .block-newsletter form .block-newsletter-email button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: 0; box-shadow: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	font-style: normal;
	color: #FF8D3B;
	text-decoration: underline;
	padding: 0; margin: 0;
	cursor: pointer;
}
footer .block-footer-middle .column-right .block-newsletter form .block-newsletter-email button:hover {
	font-weight: 700;
}
footer .block-footer-bottom {
	border-top: 1px solid #687780;
	padding: 20px 0px;
}
footer .block-footer-bottom .row-fluid {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
footer .block-footer-bottom .row-fluid .column-left .block-footer-copyright span {
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	font-style: normal;
	color: #687780;
}
footer .block-footer-bottom .row-fluid .column-right .block-footer-apps {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
footer .block-footer-bottom .row-fluid .column-right .block-footer-apps span {
	display: flex;
	font-family: 'Krona One', sans-serif;
	font-size: 11px;
	line-height: 13px;
	font-weight: 400;
	font-style: normal;
	color: #687780;
	margin-right: 10px;
}
footer .block-footer-bottom .row-fluid .column-right .block-footer-apps a:not(:last-child) {
	margin-right: 10px;
}

/* The Modal (background) */
.modal {
	display: none; 
	position: fixed; 
	z-index: 100; 
	padding-top: 400px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color:#072A40; 
	background-color:rgb(7, 42, 64, 0.85); 
}
.modal.show-partner-success,
.modal.show-partner-error,
.modal.show-delivery-success,
.modal.show-delivery-error {
	display: block;
}
  /* Modal Content */
.modal-content {
	position: relative;
	width: 730px;
	/*height: 450px;*/
	text-align: center;
	background-color: #FFFEF0;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
}
.modal-content .modal-top-right {
	position: absolute;
   	right: 10px;
   	top: 10px;
}
.modal-content .modal-top-right .modal-content-close {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
.modal-content .modal-body h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	line-height: 32px;
	font-weight: 800;
	font-style: normal;
	color: #687780;
	margin: 25px 0;
}
.modal-content .modal-body.partner-success h4,
.modal-content .modal-body.delivery-success h4 {
	color: green;
}
.modal-content .modal-body.partner-error h4,
.modal-content .modal-body.delivery-error h4 {
	color: red;
}
.modal-content .modal-body p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 32px;
	font-weight: 500;
	font-style: normal;
	color: #687780;
	margin: 25px 0;
}
.modal-body{
	display: none;
}
.modal.show-partner-success .modal-body.partner-success,
.modal.show-partner-error .modal-body.partner-error,
.modal.show-delivery-success .modal-body.delivery-success,
.modal.show-delivery-error .modal-body.delivery-error {
	display: block; 
}
  /* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
